# Server Configuration (dev)
NODE_ENV=development
HOST=localhost
PORT=5000

# Database Configuration

# default postgresql user : postgres
PGUSER=db_user

# local postgresql development host : localhost
PGHOST=db_host

PGPASSWORD=db_pass
PGDATABASE=db_database_name

# default postgresql port : 5432
PGPORT=db_port

# Token Configuration
ACCESS_TOKEN_KEY=access-token-key
REFRESH_TOKEN_KEY=refresh-token-key

# In Hour
ACCESS_TOKEN_EXPIRE=1 

# In Hour
REFRESH_TOKEN_EXPIRE=6

# Message Broker Configuration
RABBITMQ_SERVER=amqp://localhost
QUEUE_NAME=export:playlists

# AWS Account Configuration
AWS_ACCESS_KEY_ID=aws_access_key_id
AWS_SECRET_ACCESS_KEY=aws_secret_access_key
AWS_REGION=aws_region
AWS_BUCKET_NAME=aws_bucket_name

# Redis Configuration
REDIS_SERVER=localhost